<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div style="margin-left: 100px;margin-top: 20px;text-align: center">
    <!--<div class="card" style="width: 18rem;">-->
        <!--<img src="http://dingyue.ws.126.net/2020/0319/6de18389j00q7ftec0010c000hs00a0m.jpg" class="card-img-top">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">电影名称</h5>-->
            <!--<div id="star"></div>-->
        <!--</div>-->
    <!--</div>-->

    {{#movies}}
    <div class="card" style="width: 18rem;">
        <img src="{{picture}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title" >{{movieName}}</h5>
            <div id="star"></div>
        </div>
    </div>
    {{/movies}}
    {{^movies}}
    <h2>无数据</h2>
    {{/movies}}

    <button type="button" class="layui-btn layui-btn-primary">提交</button>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['rate'], function(){
        var rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#star'
        })
    });
</script>
</body>
</html>