<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div class="container" style="margin-left: 100px;margin-top: 20px;margin-right:100px">
    {{#movies}}
    <div class="card" style="height: 200px">
        <div class="row">
            <div class="col-2" style="padding-right: 0px">
                <img src="{{picture}}" style="height: 200px" >
            </div>
            <div class="card-body" style="padding-left: 0px">
                <div class="container">
                    <div class="row">
                        <!--导演主演简介。。。。-->
                        <div class="col-10">
                            <!--<h1 class="card-title" >{{movieName}}</h1>-->
                            <h3><b>{{movieName}}</b>({{releaseTime}})</h3>
                            <h5><b>导演:</b>{{director}}</h5>
                            <!--<h5><b>主演:</b>{{leadActors}}</h5>-->
                            <h5><b>电影类型:</b>{{typeList}}</h5>
                            <!--<h5><b>简介:</b>{{description}}</h5>-->
                        </div>
                        <div id="star" style="line-height: 110px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/movies}}

    {{^movies}}
    <h2>无数据</h2>
    {{/movies}}

    <br>
    <div style="text-align: center">
        <button type="button" class="layui-btn layui-btn-primary">提交</button>
    </div>
</div>



<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['rate'], function(){
        var rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#star'
        })
    });
</script>
</body>
</html>