<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影推荐系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--本地layui css路径-->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <!--登录css-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <!--和layui导航有冲突-->
    <link rel="stylesheet" type="text/css" href="/login/css/main.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="javascript:;" id="cloud">
        <div class="layui-logo">
            <img src="/img/moviewhite.png" style="height: 45px;width: 45px"/>
            电影推荐系统</div>
        </a>
        <!-- 头部区域（可配合layui已有的水平导航） layout-left-->
        <ul class="layui-nav layui-layout-left">
            <!--style="padding-top: 20px;height: 60px"-->
            <li class="layui-nav-item"><a href="javascript:;" id="morebody" style="padding-top: 20px;height: 60px" >数据集一览</a></li>
            <li class="layui-nav-item"><a href="javascript:;" id="evaluate" style="padding-top: 20px;height: 60px" hidden>电影评分</a></li>
            <!--<li class="layui-nav-item"><a href="javascript:;" id="recommend" style="padding-top: 20px;height: 60px" hidden>电影推荐</a></li>-->
        </ul>
        <!--右上角-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <!--<a href="javascript:;">登录/注册</a>-->
                <div class="site-demo-button" id="loginDiv" style="margin-bottom: 0;">
                    <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>-->
                    <a href="javascript:;" data-method="offset" id="layerDemo" style="padding-top: 20px;height: 60px">登录/注册</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <!--<li class="layui-nav-item layui-nav-itemed">默认展开-->
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">电影分析</a>
                    <dl class="layui-nav-child">
                        <!--电影在各国分布-->
                        <dd><a href="javascript:;" id="country">国家分布</a></dd>
                        <!--影片类型占比-->
                        <dd><a href="javascript:;" id="movietype">类型分布</a></dd>
                        <!--好片在所有类型电影中的占比-->
                        <dd><a href="javascript:;" id="typegood">好片占比</a></dd>
                        <!--中国电影每年上映统计-->
                        <dd><a href="javascript:;" id="chinayear">中国电影</a></dd>
                        <!--获得评分次数最多的导演-->
                        <dd><a href="javascript:;" id="mostscoredirector">热门导演</a></dd>
                        <!--评分分布统计-->
                        <dd><a href="javascript:;" id="scoredistribution">评分分布</a></dd>
                        <!--上映数前十的国家-->
                        <dd><a href="javascript:;" id="tencountry">上映前十</a></dd>
                        <!--每年电影上映数统计-->
                        <dd><a href="javascript:;" id="yearstatistic">上映统计</a></dd>
                        <!--<dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--内容主体区域-->
    <div class="layui-body content">
        <iframe src="../html/cloud.html" frameborder="0" id="contentIframe" style="width: 100%;height: 100%" ></iframe>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        基于大数据技术的电影推荐系统
    </div>
</div>


<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<!--登录-->
<script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/login/js/main.js"></script>

<script>
    //JavaScript代码区域
    //导航样式
    layui.use('element', function(){
        var element = layui.element;

    });

    $(function(){
        //回到词云
        $('#cloud').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/cloud.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //电影在各国分布
        $('#country').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/country.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //类型分布
        $('#movietype').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/movietype.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //好片占比
        $('#typegood').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/typegood.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //数据集一览
        $('#morebody').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/morebody.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //中国电影每年上映统计
        $('#chinayear').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/chinayear.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //获得评分次数最多的导演
        $('#mostscoredirector').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/mostscoredirector.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //评分分布统计
        $('#scoredistribution').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/scoredistribution.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //上映数前十的国家
        $('#tencountry').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/tencountry.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
        //每年电影上映数统计
        $('#yearstatistic').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/yearstatistic.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
    })
    //登录
    function login(){

        var username=$('#username').val();
        var password=$('#password').val();
        $.post('login',{'username':username,'password':password},function (data) {
            if (data === 'ERROR') {
                alert('用户名或密码错误')
            } else {
                var div = $('#loginDiv')[0]
                div.innerHTML= '<a href="javascript:;" data-method="offset" style="padding-top: 20px;height: 60px">' +
                    '用户名：' + username + '</a>\n'
                alert('登录成功')
                var layer = layui.layer;
                layer.closeAll();
                document.getElementById('evaluate').removeAttribute('hidden')
                // document.getElementById('recommend').removeAttribute('hidden')
                //评价跳转
                $('#evaluate').on('click',function(){
                    $(window.parent.document).find('#contentIframe').attr('src','/evaluate?username='+username)
                    $(this).addClass('layui-this').siblings().removeClass('layui-this');
                })
                // $('#recommend').on('click',function(){
                //     $(window.parent.document).find('#contentIframe').attr('src','/recommend?username='+username)
                //     $(this).addClass('layui-this').siblings().removeClass('layui-this');
                // })

            }

        },'text').fail(function () {
            alert('服务器出错')
        })
    }

    //登录/注册layer
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            setTop: function(){
                // var that = this;
            }
            ,offset: function(othis){
                var type = othis.data('type');
                var text = othis.text();
                // var p = $(".limiter").html();
                // var p = $(".limiter");
                // console.log(p);
                layer.open({
                    type: 1
                    // ,offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    // ,id: 'layerDemo'+type //防止重复弹出
                    // 中间的空隙
                    ,content:
                        '<div class="wrap-login p-l-90 p-r-90 p-t-40 p-b-40">' +
                        // '<div style="padding: 20px 70px;">' +
                        '<span class="login100-form-title p-b-49">登录</span>' +
                        '<div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">' +
                        // '<span class="label-input100">用户名</span>' +
                        '<input class="input100" type="text" id="username" placeholder="请输入用户名" autocomplete="off">' +
                        '<span class="focus-input100" data-symbol="&#xf206;"></span>' +
                        '</div>' +
                        '<div class="wrap-input100 validate-input" data-validate="请输入密码">' +
                        // '<span class="label-input100">密码</span>' +
                        '<input class="input100" type="password" id="password" placeholder="请输入密码">' +
                        '<span class="focus-input100" data-symbol="&#xf190;"></span>' +
                        '</div>' +
                        '<br><br>' +
                        '<div class="container-login100-form-btn">' +
                        '<div class="wrap-login100-form-btn">' +
                        '<div class="login100-form-bgbtn"></div>' +
                        '<button onclick="login()" class="login100-form-btn">登录</button>' +
                        '</div>' +
                        '</div>' +
                        '<div class="flex-col-c p-t-25">' +
                        '<a href="/register" >立即注册</a></div>' +
                        // '</div>' +
                        '</div>'

                    //关闭全部按钮
                    //,btn: '关闭全部'
                    // ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    // ,yes: function(){
                        // layer.closeAll();
                    // }
                });
            }
        };

        $('#layerDemo').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });


</script>
</body>
</html>