<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影推荐系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--本地layui css路径-->
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="javascript:;" id="cloud">
        <div class="layui-logo">
            <img src="/img/moviewhite.png" style="height: 45px;width: 45px"/>
            电影推荐系统</div>
        </a>
        <!-- 头部区域（可配合layui已有的水平导航） layout-left-->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:;" id="evaluate">电影评分</a></li>
        </ul>
        <!--右上角-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <!--<a href="javascript:;">登录/注册</a>-->
                <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                    <!--<button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>-->
                    <!--取消button样式出错-->
                    <a href="javascript:;" data-method="offset"  class="layui-btn layui-btn-normal">登录/注册</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <!--<li class="layui-nav-item layui-nav-itemed">默认展开-->
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">热门电影</a>
                    <dl class="layui-nav-child">
                        <!--电影在各国分布-->
                        <dd><a href="javascript:;" id="country">国家分布</a></dd>
                        <!--影片类型占比-->
                        <dd><a href="javascript:;" id="movietype">类型分布</a></dd>
                        <!--好片在所有类型电影中的占比-->
                        <dd><a href="javascript:;" id="typegood">好片占比</a></dd>
                        <!--<dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">我最喜欢</a>
                    <dl class="layui-nav-child">
                        <!--我观看电影中类型占比-->
                        <dd><a href="javascript:;" id="type2">类型分布</a></dd>
                        <!--我观看电影中评分最高-->
                        <dd><a href="javascript:;" id="name2">电影排行</a></dd>
                        <!--我观看的不同类型电影评分排行-->
                        <dd><a href="javascript:;" id="sort2">分类排行</a></dd>
                        <!--<dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
            </ul>
        </div>
    </div>
    <!--内容主体区域-->
    <div class="layui-body content">
        <iframe src="../html/cloud.html" frameborder="0" id="contentIframe" style="width: 100%;height: 100%"></iframe>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        基于大数据技术的电影推荐系统——曹梦蝶 张婉
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    //导航样式
    layui.use('element', function(){
        var element = layui.element;

    });
    //回到词云
    $(function(){
        $('#cloud').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/cloud.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
    })
    //评价
    $(function(){
        $('#evaluate').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/evaluate.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
    })
    //电影在各国分布
    $(function(){
        $('#country').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/country.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
    })
    //类型分布
    $(function(){
        $('#movietype').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/movietype.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
    })
    //好片占比
    $(function(){
        $('#typegood').on('click',function(){
            $(window.parent.document).find('#contentIframe').attr('src','../html/typegood.html')
            $(this).addClass('layui-this').siblings().removeClass('layui-this');
        })
    })
    //登录/注册
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            setTop: function(){
                // var that = this;
            }
            ,offset: function(othis){
                var type = othis.data('type')
                    ,text = othis.text();
                layer.open({
                    type: 1
                    // ,offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    // ,id: 'layerDemo'+type //防止重复弹出
                    // 中间的空隙
                    ,content: '<div style="padding: 20px 100px;">'+ text +'</div>'
                    //关闭全部按钮
                    //,btn: '关闭全部'
                    // ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    // ,yes: function(){
                    //     layer.closeAll();
                    // }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</body>
</html>