<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div class="container" style="margin-left: 100px;margin-top: 20px;margin-right:100px">
    {{#movies}}
    <div class="card" style="height: 200px">
        <div class="row">
            <div class="col-2" style="padding-right: 0px">
                <img src="{{cover}}" style="height: 200px">
            </div>
            <div class="card-body" style="padding-left: 0px">
                <div class="container">
                    <div class="row">
                        <!--导演主演简介。。。。-->
                        <div class="col-10">
                            <h3><b>{{movieName}}</b>({{releaseTime}})</h3>
                            <h5><b>导演:</b>{{directors}} <span id="movieId{{num}}">{{movieId}}</span></h5>
                            <h5><b>演员:</b>{{actors}} </h5>
                            <h5><b>电影类型:</b>{{typeList}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/movies}}

    {{^movies}}
    <h2>无数据</h2>
    {{/movies}}




</div>

</body>

</html>