<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>注册</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login/css/main.css">
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <!--登录-->
    <script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/login/js/main.js"></script>

</head>

<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <!--<form class="login100-form validate-form" action="regAction" method="post">-->
                <span class="login100-form-title p-b-49">注册</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
                    <span class="label-input100">用户名</span>
                    <input class="input100" type="text" id="username" placeholder="请输入用户名" autocomplete="off">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入密码">
                    <span class="label-input100">密码</span>
                    <input class="input100" type="password" id="password" placeholder="请输入密码">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="请确认密码">
                    <span class="label-input100">确认密码</span>
                    <input class="input100" type="password" id="passwordConfirm" placeholder="请确认密码">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>



                <div class="container-login100-form-btn" style="margin-top: 80px">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" onclick="reg()">注 册</button>
                    </div>
                </div>

            <!--</form>-->
        </div>
    </div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.4/jQuery.XDomainRequest.js"></script>
<script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/login/js/main.js"></script>

<script type="text/javascript">
    function reg() {
        var username = $("#username").val();
        var password = $("#password").val();
        var passwordConfirm = $("#passwordConfirm").val();
        if (username === "" || password === "" || passwordConfirm === "") {
            alert("不能为空！");
            return
        }
        $.ajax({
            type: "post",
            url: "regAction",
            data: {
                "username": username,
                "password": password,
                "passwordConfirm": passwordConfirm
            },
            success: function (data) {
                if (data === "注册成功") {
                    alert("注册成功！");
                    window.location.href = '/index';
                } else if (data === "密码不一致") {
                    alert("密码不一致！");
                    username = "";
                    password = "";
                    passwordConfirm = "";
                    // window.location.href = '/register';
                }else if (data === "用户名重复") {
                    alert("用户名重复！");
                    username = "";
                    password = "";
                    passwordConfirm = "";
                    // window.location.href = '/register';
                }
            }
        })
    }

</script>

</body>

</html>